$color_body_bg: var(--body-bg);
// $color_body_bg: #090d0f;
// $color_body_bg: #161d22;
$color_backdrop_bg: var(--color_backdrop_bg);
$color_header_bg: var(--body-bg);
$color_header_text: var(--color_header_text);
$color_header_light_text: var(--color_header_light_text);
$over_line_color: var(--over_line_color);
$color_body_text: var(--color_body_text);
$color_body_text_dark: var(--color_body_text_dark);
$color_card_bg: var(--color_card_bg);
$color_body_accent: var(--color_body_accent);
$color_bio_card_bg: var(--color_bio_card_bg);
$color_tag_bg: var(--color_tag_bg);
$color_tag: var(--color_tag);
